<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Scrape Rolling Stone</title>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
     
</head>
<body>
 
    {{{body}}}
 
</body>
</html>