<style>
  .wrapper {
    display:flex;
    width: fit-content;
  }
  #notes {
    background: green;
    width: 600px;
  }
  #gotosaved{
    display: inline;
    align-content: center;
    align-self: right;
    width: fit-content;
  }
</style>

<div class="wrapper">
  <div><button class="scrapenew" id="scrapenew">SCRAPE NEW ARITCLES</button>
  <button  class="gotosaved" id="gotosaved" onclick="window.location.href='/saved'">Go to Saved Articles</button>
  <br>
  <br>
</div>
  <div id="articles"></div><div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                   <br>
                </div>
    </div>
</div>
  <div id="notes"></div>
  </div>
</div> 

 <script src="app.js"></script>
