<style>
  .wrapper {
    display:flex;
  }
  #notes {
    background: green;
    width: 600px;
  }
</style>
<<<<<<< HEAD

<div class="wrapper">
  <div><button class="scrapenew" id="scrapenew">SCRAPE NEW ARITCLES</button></div>
  <div id="articles"></div><div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                   <br>
                </div>
    </div>
</div>
  <div id="notes"></div>
  </div>
=======
<div class="wrapper">
  <div id="articles"></div>
  <div id="notes"></div>
  </div>
>>>>>>> 057bc31783f7593e0065f7be332e76dab30bc678
